@using BusinessLogic.DtoModels
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<Dto_Product>
@{
    ViewData["Title"] = ViewBag.TypeString;
    int count = Model.Count();
}
<link rel="stylesheet" href="~/css/group.css" type="text/css"/>
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <h4>Category: @ViewBag.searchString</h4>
        @if (Model.Count() == 0)
        {
            <h5>Nothing found</h5>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="card card-body mt-3">
                    <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                        <div class="mr-2 mb-3 mb-lg-0"> <img src="~/@item.Image" width="150" height="150" alt="~/Images/noImage.png"> </div>
                        <div class="media-body">
                            <h6 class="media-title font-weight-semibold"> <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" data-abc="true">@item.Name</a> </h6>
                            <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                                <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">@item.ProductTypes.ProductType</a></li>
                                <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">@item.SpecialTag.Name</a></li>
                            </ul>
                            <p class="mb-3">DESCRIPTION</p>
                            <ul class="list-inline list-inline-dotted mb-0">
                                <li class="list-inline-item">All items from <a href="#" data-abc="true">Mobile point</a></li>
                                <li class="list-inline-item">Add to <a href="#" data-abc="true">wishlist</a></li>
                            </ul>
                        </div>
                        <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                            <h3 class="mb-0 font-weight-semibold">$@item.Price</h3>
                            <div> <i class="fa-red-red fa fa-star">
                                STAR_COUNT</i>
                                <i class="fa-red-red fa fa-star"></i>
                            </div>
                            <div class="text-muted">REVIEW_COUNT</div> <button type="button" class="btn btn-primary mt-4 text-white"><i class="icon-cart-add mr-2"></i> ADD_TO_CART</button>
                        </div>
                    </div>
                </div>
            }
        }
        <div>
            @Html.PagedListPager(Model, c => Href("~/Customer/Home/SearchByProductType?page=" + c), PagedListRenderOptions.Classic)
        </div>

    </div>
</div>