@model OrderModel
@using BusinessLogic
@using BusinessLogic.DtoModels
@using OnlineShop.Areas.Customer.Models
@using OnlineShop.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Order Details";
}
@{
    var products = HttpContextAccessor.HttpContext.Session.Get<List<Dto_Product>>("products");

    if (products == null)
        products = new List<Dto_Product>();

    var cartCount = products.Count();
    var cartSum = products.Sum(x => x.Price);

    var productsGroup = Calculation.ViewToDictionary(products);

}
<link rel="stylesheet" type="text/css" href="~/css/cart.css" />

<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">@cartCount items</h6>
                  </div>

                  @foreach (var item in productsGroup)
                  {
                  <hr class="my-4">
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="~/@item.Key.Image"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">@item.Key.ProductTypes.ProductType</h6>
                      <h6 class="text-black mb-0">@item.Key.Name</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1" min="1" name="quantity" value="@item.Value" type="number"
                        class="form-control form-control-sm" />

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">$@item.Key.Price</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a asp-area="Customer" asp-action="Remove" asp-controller="Order"
                        asp-route-id="@item.Key.Id" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>
                  }

                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0"><a asp-action="Index" asp-controller="Home" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items @cartCount</h5>
                    <h5>$ @cartSum</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <form asp-action="Checkout" method="post" enctype="multipart/form-data">

                  <div class="mb-4 pb-2">
                    <select asp-for="Delivery.DeliveryTypeId" asp-items="ViewBag.deliveryTypes" class="form-select just-grey form-control"></select>
                    @*<label id="priceForDelivery"></label>*@
                  </div>

                  <h5 class="text-uppercase mb-3">Payment</h5>
                  <div class="mb-4 pb-2">
                    <select asp-for="Delivery.PaymentTypeId" asp-items="ViewBag.paymentTypes" class="form-select just-grey form-control"></select>
                  </div>

                    <h6 class="text-uppercase mb-3">Your Name</h6>
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="mb-5">
                        <div class="form-outline">
                          <input type="hidden" asp-for="Order.Id" />
                          <input asp-for="Order.Name" type="text" class="form-control just-grey form-control-lg" />
                        </div>
                        <span asp-validation-for="Order.Name" class="text-danger"></span>
                    </div>

                    <h6 class="text-uppercase mb-3">Phone number</h6>
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="mb-5">
                        <div class="form-outline">
                          <input asp-for="Order.PhoneNo" type="text" class="form-control just-grey form-control-lg" />
                        </div>
                        <span asp-validation-for="Order.PhoneNo" class="text-danger"></span>
                    </div>

                    <h6 class="text-uppercase mb-3">Address</h6>
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="mb-5">
                        <div class="form-outline">
                          <input asp-for="Order.Address" type="text" class="form-control just-grey form-control-lg" />
                        </div>
                        <span asp-validation-for="Order.Address" class="text-danger"></span>
                    </div>

                    <h6 class="text-uppercase mb-3">Email</h6>
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="mb-5">
                        <div class="form-outline">
                          <input asp-for="Order.Email" type="text" class="form-control just-grey form-control-lg" />
                        </div>
                        <span asp-validation-for="Order.Email" class="text-danger"></span>
                    </div>

                    <h6 class="text-uppercase mb-3">Comment</h6>
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="mb-5">
                        <div class="form-outline">
                          <textarea asp-for="Delivery.OrderComment" class="form-control just-grey form-control-lg" ></textarea>
                        </div>
                        <span asp-validation-for="Delivery.OrderComment" class="text-danger"></span>
                    </div>


                    <hr class="my-4">

                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5>$ @cartSum</h5>
                      </div>

                      <button type="submit" class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark">Register</button>

                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@*<br />

<h2 class="text-info">Order Details</h2>
<form asp-action="Checkout" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-6">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PhoneNo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
               
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Address"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
               
            </div>
        </div>

        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in products)
                {
                    <tr>
                        <td>
                            <img src="~/@item.Image" height="100px" width="100px"/>
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="text-right">
                <h3>Total Price : @products.Sum(c=>c.Price)</h3>
            </div>
            <div class="form-group text-right">
                <input type="submit" value="Place Order" class="btn btn-success"/>
            </div>
        </div>
       

    </div>
</form>*@

@section Scripts{
    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_AntiValidationScriptsPartial");
    }
}


