﻿@using BusinessLogic.DtoModels
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model OnlineShop.Areas.Customer.Models.HomeControllerIndexModel

@{
    ViewData["Title"] = "Home";
}

<br/><br/>

<div>
	<h3 class="text-info">Categories</h3>
	<div class="card-deck">
		@foreach (var item in Model.ProductTypes)
		{
			<div class="card border border-white" style="width: 10rem;">
				<img class="card-img-top" src="~/@item.Image" alt="~/noImage.png">
				<div class="text-center">
					<form asp-controller="Search" asp-action="SearchByProductType">
                        <input type="hidden" value="1" name="Page"/>
						<input type="hidden" value="@item.Id" name="Id"/>

						<button type="submit" class="card-title btn btn-link">
							@item.ProductType
						</button>
                    </form>
				</div>
			</div>
		}
	</div>
	<br/><hr/><br />
</div>


<div class="col-md-12">
	<div class="row">
		@foreach(var product in Model.Products)
		{
		<div class="product" style="margin: 10px">
			<div class="product-img">
				<img src="~/@product.Image" style="height: 250px; width: 250px" alt="">
			</div>

			<div class="product-body">
				<p class="product-category">
					@product.ProductTypes.ProductType
				</p>

				<h3 class="product-name">
					<a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id">
						@product.Name
					</a>
				</h3>

				<h4 class="product-price">
					$@product.Price 
					<del class="product-old-price">
						$@(product.Price + product.Price * 0.1m)
					</del>
				</h4>

				<div class="product-btns">
					<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
					<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
					<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
				</div>
			</div>
			<div class="add-to-cart">
				<form asp-controller="Home" asp-action="Detail" asp-route-id="@product.Id" method="post" enctype="multipart/form-data">
					<button class="add-to-cart-btn">
						<i class="fa fa-shopping-cart"></i>
						Add to Cart
					</button>
				</form>
			</div>
		</div>
		}
	</div>
</div>


<div>
    @Html.PagedListPager(Model.Products, c => Href("~/Customer/Home/Index?page=" + c), PagedListRenderOptions.Classic)
</div>


@section Scripts{

}